.head
  padding: 6rem 0
  text-align: center
  font-family: 'Zhi Mang Xing',cursive
  position: relative

.head__inner
  display: inline-block
  a
    text-decoration: none
    color: $color-black-3
  h1
    font-size: 8rem
    margin-bottom: 2rem
    font-weight: 400
  p
    font-size: 2rem

.bottom-line-1
  height: 3px
  width: 100%
  background: $color-black-2
  margin-bottom: 3px

.bottom-line-2
  height: 6px
  width: 100%
  background: $color-black-2

@media screen and (max-width: $M)
  .head__inner
    h1
      text-size(m-4)
