{% extends "base.html" %}

{% block title %}blog - {{ config.title }}{% endblock %}

{% block content %}
<h1>blog</h1>
<ul>
{% for page in paginator.pages %}
    <li>
        {{ page.date | date(format="%Y-%m-%d") }} -
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        {% for tag in page.taxonomies.tags | default(value=[]) %}
        [<a href="/tags/{{ tag }}/">{{ tag }}</a>]
        {% endfor %}
    </li>
{% endfor %}
</ul>

{% if paginator.number_pagers > 1 %}
<p>
{% if paginator.previous %}<a href="{{ paginator.previous }}">&lt; prev</a>{% endif %}
 page {{ paginator.current_index }} / {{ paginator.number_pagers }}
{% if paginator.next %}<a href="{{ paginator.next }}">next &gt;</a>{% endif %}
</p>
{% endif %}
{% endblock %}
