{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

{% set blog = get_section(path="blog/_index.md") %}
{% if blog.pages %}
<h2>posts</h2>
<ul class="entry-list">
{% for page in blog.pages | slice(end=5) %}
    <li>
        <span class="date">{{ page.date | date(format="%b %d") }}</span> <a href="{{ page.permalink }}">{{ page.title }}</a>{% for tag in page.taxonomies.tags | default(value=[]) %} [<a href="/tags/{{ tag }}/">{{ tag }}</a>]{% endfor %}
        <br><small>{{ page.description }}</small>
    </li>
{% endfor %}
</ul>
{% if blog.pages | length > 5 %}
<p><a href="{{ blog.permalink }}">all posts &gt;</a></p>
{% endif %}
{% endif %}

{% set repos = load_data(path="static/repos.json") %}
{% if repos %}
<h2>projects</h2>
<ul class="entry-list">
{% for repo in repos %}
    <li>
        <a href="{{ repo.url }}">{{ repo.name }}</a>
        <br><small>{{ repo.description | default(value="&nbsp;") | safe }}</small>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
