{% macro title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
            {% if page.extra.hide_date is undefined or not page.extra.hide_date %}
            <span class="post__time">{{ page.date | date(format="%F") }}</span>
            {% endif %}
            {% if page.reading_time %}
            <span> · {{ page.reading_time }} min read</span>
            {% endif %}
            {% if page.extra.lang %}
            <span> · {{ page.extra.lang }}</span>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
