{% extends "base.html" %}

{% block title %}reading - {{ config.title }}{% endblock %}

{% block content %}
<h1>reading</h1>
<p>值得一读的文章，主要来自 <a href="https://danluu.com">danluu.com</a>。</p>
<ul>
{% for page in paginator.pages %}
    <li>
        {{ page.date | date(format="%Y-%m-%d") }} -
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
{% endfor %}
</ul>

{% if paginator.number_pagers > 1 %}
<p>
{% if paginator.previous %}<a href="{{ paginator.previous }}">&lt; prev</a>{% endif %}
 page {{ paginator.current_index }} / {{ paginator.number_pagers }}
{% if paginator.next %}<a href="{{ paginator.next }}">next &gt;</a>{% endif %}
</p>
{% endif %}
{% endblock %}
