{% extends "index.html" %}

{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}

{% block content %}
<div class="posts">
    <article class="post">
        <h1 class="post__title">{{ section.title }}</h1>
        {% if section.content %}
        <div class="post-content">{{ section.content | safe }}</div>
        {% endif %}
    </article>
</div>
<div class="posts">
    {% for page in section.pages %}
    <article class="post">
        <header class="post__header">
            <h2 class="post__title">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h2>
            <div class="post__meta">
                {% if page.extra.lang %}
                <span>{{ page.extra.lang }}</span>
                {% endif %}
                {% if page.description %}
                 — {{ page.description }}
                {% endif %}
            </div>
        </header>
    </article>
    {% endfor %}
</div>
{% endblock content %}
